<footer id="footer" class="page-footer hidden-print" xmlns="http://www.w3.org/1999/html" style="background-color: #262626;">
  <div class="container">
    <div id="footer-social-row" class="row">
      <br>
      <br>
      <div id="footer-row-brand" class="col-xs-12 col-sm-6 hidden-xs text-left">
        <!-- <img alt="Work.com.mm" class="brand brand-mm" src="/img/logo/work/logo.png"> -->
        <%= image_tag 'logo.png', size: "230x20" %>
      </div>
      <br>
      <div class="col-xs-12 col-sm-6 footer-social-icons">
        <ul id="list-social-icons" class="list-inline">
          <!--<li><a target="_blank" href="< ?= $this->di->get('config')->socialMedia->twitter ?>"><span class="icon icon-twitter"></span></a></li>-->
          <li><a target="_blank" href="https://www.facebook.com/Work.com.mm/"><span class="icon icon-facebook"></span></a></li>
          <!--<li><a target="_blank" href="< ?= $this->di->get('config')->socialMedia->googleplus ?>" rel="publisher"><span class="icon icon-gplus"></span></a></li>-->
        </ul>
      </div>
    </div>
    <div id="footer-lists" class="row">
      <div class="col-xs-6 col-md-2 list-unstyled odd-block">

        <h4 style="color: white;">Job Seekers</h4>
        <p>
          <a href="#">Post your CV</a><br>
          <a href="#">Advanced Job Search</a><br>
          <a href="#">Tips for Finding a Job</a><br>
          <a href="#">Create a perfect CV</a><br>
          <a href="#">Job Seeker FAQ</a><br>
          <a href="#">Terms of Service for Job Seekers</a>
        </p>
      </div>
      <div class="col-xs-6 col-md-2 list-unstyled even-block">

        <h4 style="color: white;">Employers</h4>
        <p>
          <a href="#">Post a Job</a><br>
          <a href="#">CV search</a><br>
          <a href="#">Tips for Recruiting</a><br>
          <a href="#">Employer FAQ</a><br>
          <a href="#">Terms of Service for Employers</a>
        </p>
      </div>
      <div class="col-xs-6 col-md-2 list-unstyled odd-block">

        <h4 style="color: white;">About us</h4>
        <p>
          <a href="#">About us</a><br>
          <a href="#">Privacy Policy</a><br>
          <a href="#">Contact Us</a><br>
          <a href="#">Press</a><br>
          <a href="#">Testmonials</a>
        </p>
      </div>
      <div class="col-xs-6 col-md-2 list-unstyled even-block">
      </div>
      <div class="col-xs-6 col-md-2 list-unstyled odd-block">
      </div>
    </div>
  </div>
  <br>
  <section id="seo-copyright" class="center" style="background-color: #333; padding: 25px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" id="copyright" style="color: white;">
          © 2012 - 2016 Work.com.mm. All rights reserved. Material may not be published or reproduced in any form without prior written permission.
        </div>
      </div>
    </div>
  </section>
</footer>
