<footer>
  <div class="container">
    <div class="row">
      <div class="footerAbout col-xs-12 col-sm-4">
        <h3>LINKS</h3>
        <ul class="list-unstyled">
          <li><a href="https://blog.mit.jobs/about.html" target="_blank">About Us</a></li>
          <li><a href="https://blog.mit.jobs" target="_blank">Columns</a></li>
          <li><a href="https://mit.jobs/jobs" target="_blank">Browse Jobs</a></li>
          <li><a href="https://mit.jobs/employers">For Employer</a></li>
          <li><a href="https://mit.jobs/terms-of-service">Terms of Service</a></li>
        </ul>
        <h3>CONTACT US</h3>
        <p>
          <a href="mailto:service@mit.jobs" target="_blank">service@mit.jobs</a><br>
        </p>
      </div>
      <div class="footerFollow col-xs-12 col-sm-4">
        <h3>FOLLOW US</h3>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/gomitjobs" class="smFz34 xsFz34" target="_blank">
              <i class="fa fa-facebook-square"></i>
              <span class="sr-only">facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/877821818922805" class="smFz34 xsFz34" target="_blank">
              <i class="fa fa-users"></i>
              <span class="sr-only">facebook group</span>
            </a>
          </li>
          <li>
            <a href="javascript: void(0)" class="smFz34 xsFz34" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="<img src='https://mit.jobs/assets/qrcode_for_gh_430-73908b68fc77e6d2c67924d5257a9d603b6f93c5cc1cadbae6aa614589b89e2e.jpg' width='150px'/>" data-original-title="" title="">
              <i class="fa fa-weixin"></i>
              <span class="sr-only">weixin</span>
            </a>

          </li>
          <li>
            <a href="https://www.linkedin.com/company/mit-jobs" class="smFz34 xsFz34" target="_blank">
              <i class="fa fa-linkedin-square"></i>
              <span class="sr-only">linked in</span>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/mit.jobs/" class="smFz34 xsFz34" target="_blank">
              <i class="fa fa-instagram"></i>
              <span class="sr-only">instagram</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footerOurAdvantage col-xs-12 col-sm-4">
        <h3>BENEFITS</h3>
        <p>
          Register right now for benefits:
          </p><ol>
            <li>One Time, Free career counseling service!</li>
            <li>Hiring Bonus USD $100 for successful recruitment!</li>
            <li>Weekly Newsletter of latest job opportunity!</li>
          </ol>
        <p></p>
        <p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-block btnBlue" %>
        </p>
      </div>
    </div>
  </div>
  <div class="copyRight col-xs-12 col-sm-12">
    <p class="text-center">Copyright © <a href="https://mit.jobs/">mit.Jobs</a> 2015</p>
  </div>
</footer>
