<nav class="navbar">
  <!-- <div class="nav-holder"> -->
    <%= link_to "Jobs Board", root_url, class: "nav-title" %>
    <div class="nav-button">
      <ul>
        <li><%= link_to "Find Jobs", jobs_path %></li>
        <li><%= link_to "Post a Job", new_job_path %></li>
        <li><%= link_to "kerker", jobs_path %></li>
      </ul>
      <ul class="floatright">
        <li>Sign up</li>
        <li>Log in</li>
        <li>FOR EMPLOYERS</li>
        <li>EN</li>
        <li>ျမန္မာ</li>
      </ul>
    </div>
  <!-- </div> -->
</nav>
