<h2>Welcome to Backstage</h2>

<%#= form_tag '#', remote: true, id: "form" do %>
  <%#= text_field_tag :name %>
  <%#= submit_tag :submit %>
<%# end %>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>

<%#= javascript_path "jobs" %>
<script src="assets/jobs.js"></script>
