<p id="notice"><%= notice %></p>

<div class="job">
  <%#
    Filterrific adds the `form_for_filterrific` view helper:
    * adds dom id 'filterrific_filter'
    * applies javascript behaviors:
        * AJAX form submission on change
        * AJAX spinner while AJAX request is being processed
    * sets form_for options like :url, :method and input name prefix
  %>

  <div id="filtered_job">
    <%= render( partial: "jobs/filter", locals: { jobs: @filtered_jobs } ) %>
  </div>
  <br>
  <%= link_to 'Create a new job', new_job_path %>

  <hr>
  <div class="col-sm-8">
    <%= render( partial: 'jobs/list', locals: { jobs: @filtered_jobs } ) %>
  </div>
</div>

<script>
  $.fn.datepicker.defaults.format = 'yyyy/mm/dd';
  $('.js-datepicker').datepicker();
</script>
