<div class="callToAction">
  <div class="container">
    <div class="row">
      <div class="forUsers col-xs-6 col-sm-6 col-md-5 col-md-offset-1">
        <%= link_to new_user_registration_path do %>
          <h2 class="font-Oswald smFz33">GET JOB IN GLOBE</h2>
          <p>Get transparent and comprehensive job information to maximize your value in the world.</p>
          <i class="hidden-xs fa fa-user"></i>
          <span class="btn btn-block">
            <i class="fa fa-angle-double-left"></i> Sign In Now
          </span>
        <% end %>
      </div>
      <div class="forEmployer text-right col-xs-6 col-sm-6 col-md-5">
        <a href="https://mit.jobs/employers">
          <h2 class="font-Oswald smFz33">HIRE GLOBAL TALENT</h2>
          <p>Hire international talent, assembly diverse team, and build up your global competitiveness.</p>
          <i class="hidden-xs fa fa-building"></i>
          <span class="btn btn-block">
            Sign In Now <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
