<div class="hidden-x">
  <div class="find-jobs">
    <div class="container top-jobs">
      <div class="top-jobs__img"></div>

      <div class="find-jobs__header smFz48">
        Find jobs in Myanmar
      </div>
      <i class="fa fa-rocket find-jobs-rocket"></i>
      <div class="top-jobs__header">
        Top Jobs
      </div>

      <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
          <% 2.times do |i| %>
            <div class="item <%= "#{'active' if i == 0 }" %>">

              <div class="top-jobs__scroll">
                <ul class="top-jobs__list">
                  <% 3.times do %>
                    <% @jobs.each do |job| %>
                      <li class="top-job top-job--top">
                        <%= link_to job_path(job), class: "top-job__content js-top-job-btn" do %>
                          <span class="top-job__title-wrap">
                            <span class="top-job__title" title="Auditor"><%= job.title %></span>
                            <div class="top-btn">Top</div>
                          </span>
                          <span class="top-job__company-name" title="DELTA DIAMOND INT'L CO.LTD"><%= job.company.name %></span>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>

            </div>
          <% end %>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>

    </div>
  </div>
</div>
