<div id="dyp_1474536681868"><section class="full_width_container" id="recommended-jobs" data-dy-widget-id="8195" data-dy-feed-id="2837"><style rel="stylesheet">/* Recommended Jobs block */
.find-jobs{
  padding-top: 30px;
}
.full_width_container{
  background: #eceff1;
  padding: 50px 0;
}

table.card-tbl{
  background: #fff;
  border-collapse: separate;
  border-radius: 0px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 10px 0;
  width: 100%;
}
table.card-tbl tbody td {
  border: 1px solid rgba(207, 216, 220, .24);
  padding: 0;
  text-align: left;
}
table.card-tbl td.logo{
  text-align: center;
  width: 90px;
}
table.card-tbl img {
  max-width: none;
  padding: 7px 10px;
}
table.card-tbl td.details{
  vertical-align: top;
  border-bottom: none;
}
table.card-tbl h3{
  color: #36474f;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 12px 0 0 12px;
}
table.card-tbl p{
  color: #445a64;
  font-size: 14px;
  font-weight: 300;
  margin: 0 5px 0 12px;
}
table.card-tbl td.learn-more {
  font-size: 12px;
  padding: 0 0 3px 12px;
  border-top: none;
}
.section_main_header{
  line-height: 30px;
  margin: 0 0 30px;
  text-align: center;
  color: #333333;
  font-weight: 500;
  padding: 30px 0;
}</style>
  <div class="container">
    <div class="row">
      <div class="section_main_header smFz48">
        Recommended Jobs For You!
      </div>
    </div>
    <div class="row" data-dy-strategy-container="" data-dy-strategy-id="1">
      <div data-dy-recommendation-item-container="">
        <% @companies.each do |company| %>
          <div class="col-md-4" data-dy-product-id="SKU_JOB_MM_75001">
            <style rel="stylesheet">.dy-logo-container { height: 86px; }</style>
            <!-- <a href="https://www.work.com.mm/en/employer/ooredoo&#45;myanmar&#45;6/operations&#45;manager&#45;naypyitaw&#45;yangon&#45;mandalay.html"> -->
            <%= link_to job_path(company.jobs.first), target: "blank" do %>
              <table class="card-tbl">
                <tbody>
                  <tr>
                    <td rowspan="2" class="logo dy-logo-container">
                      <!-- <img width="90" src="https://media.work.com.mm/storage//company/52/352/image//ooredoo.jpg"> -->
                      <%= image_tag company.image.url, size: "80x80" %>
                    </td>
                    <td class="details">
                      <h3><%= company.name %></h3>
                      <p><%= company.jobs.first.title %></p>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
            <!-- </a> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section></div>
