<div id="dyp_1474536681868"><section class="full_width_container" id="recommended-jobs" data-dy-widget-id="8195" data-dy-feed-id="2837"><style rel="stylesheet">/* Recommended Jobs block */
.find-jobs{
  padding-top: 30px;
}
.full_width_container{
  background: #eceff1;
  padding: 50px 0;
}

table.card-tbl{
  background: #fff;
  border-collapse: separate;
  border-radius: 0px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 10px 0;
  width: 100%;
}
table.card-tbl tbody td {
  border: 1px solid rgba(207, 216, 220, .24);
  padding: 0;
  text-align: left;
}
table.card-tbl td.logo{
  text-align: center;
  width: 90px;
}
table.card-tbl img {
  max-width: none;
  padding: 7px 10px;
}
table.card-tbl td.details{
  vertical-align: top;
  border-bottom: none;
}
table.card-tbl h3{
  color: #36474f;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 12px 0 0 12px;
}
table.card-tbl p{
  color: #445a64;
  font-size: 14px;
  font-weight: 300;
  margin: 0 5px 0 12px;
}
table.card-tbl td.learn-more {
  font-size: 12px;
  padding: 0 0 3px 12px;
  border-top: none;
}
.section_main_header{
  line-height: 30px;
  margin: 0 0 30px;
  text-align: center;
  color: #333333;
  font-weight: 500;
  padding: 30px 0;
}</style>
  <div class="container">
    <div class="row">
      <div class="section_main_header smFz48">
        Recommended Jobs For You!
      </div>
    </div>
    <div class="row" data-dy-strategy-container="" data-dy-strategy-id="1">
      <div data-dy-recommendation-item-container=""><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_75001"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/ooredoo-myanmar-6/operations-manager-naypyitaw-yangon-mandalay.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/52/352/image//ooredoo.jpg">
          </td>
          <td class="details">
            <h3>Ooredoo Myanmar</h3>
            <p>Operations Manager - Naypyitaw/Yangon/Mandalay</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_70554"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/infra-group-co-ltd/site-engineer-site-supervisor.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/64/6164/image//infragroup.jpg">
          </td>
          <td class="details">
            <h3>Infra Group Co.,Ltd.</h3>
            <p>Site Engineer / Site Supervisor</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_74665"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/ktk-electrical-engineering-co-ltd/design-drawing-engineer-5-post-male-female.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/49/549/image//25747.jpeg">
          </td>
          <td class="details">
            <h3>KTK Electrical Engineering Co.,Ltd</h3>
            <p>Design &amp; Drawing Engineer (5) Post ( Male &amp; Female)</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_72362"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/ktk-electrical-engineering-co-ltd/hr-assistant-male-or-female-4-post.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/49/549/image//25747.jpeg">
          </td>
          <td class="details">
            <h3>KTK Electrical Engineering Co.,Ltd</h3>
            <p>HR Assistant , Male (or) Female (4) Post</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_74697"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/max-myanmar-holding-co-ltd/accountant-max-highway.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/57/7457/image//max-holding-logo.png">
          </td>
          <td class="details">
            <h3>Max Myanmar Holding Co., Ltd</h3>
            <p>Accountant ( Max Highway )</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div><div class="col-md-4" data-dy-product-id="SKU_JOB_MM_75103"><style rel="stylesheet">.dy-logo-container {
  height: 86px;
}</style>
  <a href="https://www.work.com.mm/en/employer/barons-tele-link-co-ltd-1/junior-engineer-34687.html">
    <table class="card-tbl">
      <tbody>
        <tr>
          <td rowspan="2" class="logo dy-logo-container">
            <img width="90" src="https://media.work.com.mm/storage//company/65/7165/image//barons-tele-link-co.-ltd.jpg">
          </td>
          <td class="details">
            <h3>Barons Tele-Link Co.,Ltd</h3>
            <p>Junior Engineer</p>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div></div>
    </div>
  </div>
</section></div>
