<div class="testimonial">
  <div class="container">

    <div class="col-md-12 text-center">
      <h2 class="font-Oswald xsFz38 smFz48">Our Users</h2>
    </div>

    <div class="col-md-12">
      <div class="carousel slide" data-ride="carousel" data-type="multi" id="myCarousel">
        <div class="carousel-inner">

          <div class="item">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/OrenChiang-fc63a37419858b0eb09fbf23f10b796e2e5bb8e8afcdc68392ebb41f812cc4ef.jpg" alt="Orenchiang fc63a37419858b0eb09fbf23f10b796e2e5bb8e8afcdc68392ebb41f812cc4ef">
                </div>
                <div class="caption text-center text-center">
                  <h3>Oren Chiang</h3>
                  <div class="position">Marine Engineer</div>
                  <div class="company">Billion Miles<span class="base">Singapore</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/wallace-d0f303df4f683f14d6d429c45e77231415eeabda6bd4d27e56e789e556a57571.jpg" alt="Wallace d0f303df4f683f14d6d429c45e77231415eeabda6bd4d27e56e789e556a57571">
                </div>
                <div class="caption text-center">
                  <h3>Wallace Hsiao</h3>
                  <div class="position">Senior Product Manager</div>
                  <div class="company">Future Institute<span class="base">Beijing, China</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/YvonneChiu-5919ca8e1c27e184605be9b6b8aa7244f7f1b589d79af6084ff0924ce13d95d5.jpg" alt="Yvonnechiu 5919ca8e1c27e184605be9b6b8aa7244f7f1b589d79af6084ff0924ce13d95d5">
                </div>
                <div class="caption text-center">
                  <h3>Yvonne Chiu</h3>
                  <div class="position">Intern</div>
                  <div class="company">SMARTSTUDY<span class="base">Seoul, South Korea</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/YinFu-6e14efc4b21190ccf43b2e18158ca18459ae3496cf0c2ac20c9a0b9bca7edd47.jpg" alt="Yinfu 6e14efc4b21190ccf43b2e18158ca18459ae3496cf0c2ac20c9a0b9bca7edd47">
                </div>
                <div class="caption text-center">
                  <h3>Yin Fu</h3>
                  <div class="position">Sales Executive</div>
                  <div class="company">Oddle<span class="base">Taipei, Taiwan</span></div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/Xue-YongFu-751d9d81b1177099bb6225fedc4003d277cc545d979323de855bd4924679fed1.jpg" alt="Xue yongfu 751d9d81b1177099bb6225fedc4003d277cc545d979323de855bd4924679fed1">
                </div>
                <div class="caption text-center">
                  <h3>Xue-Yong Fu</h3>
                  <div class="position">Software Engineer</div>
                  <div class="company">Oddle<span class="base">Singapore</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/YvonneChen-0b1638d48f7f235e3c1c97bbbd83620a5ac94bdf0a73a29f2d97c6e5edaed45e.jpg" alt="Yvonnechen 0b1638d48f7f235e3c1c97bbbd83620a5ac94bdf0a73a29f2d97c6e5edaed45e">
                </div>
                <div class="caption text-center">
                  <h3>Yvonne Chen</h3>
                  <div class="position">Sales Manager</div>
                  <div class="company">HomeAway<span class="base">Taipei, Taiwan</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/ArielJu-c49c5bc246e6a70da98bee778bf00b5289a7952384c811cd2d3a3eb9375d1b14.jpg" alt="Arielju c49c5bc246e6a70da98bee778bf00b5289a7952384c811cd2d3a3eb9375d1b14">
                </div>
                <div class="caption text-center">
                  <h3>Ariel Ju</h3>
                  <div class="position">Sales Manager</div>
                  <div class="company">HomeAway<span class="base">Taipei, Taiwan</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/Yu-FuLi-0d1e308fa737703c510d8c95c8df003eeb38381d2fe1aa76e27fe46936f14248.jpg" alt="Yu fuli 0d1e308fa737703c510d8c95c8df003eeb38381d2fe1aa76e27fe46936f14248">
                </div>
                <div class="caption text-center">
                  <h3>Yu-Fu Li</h3>
                  <div class="position">Sales Executive</div>
                  <div class="company">Oddle<span class="base">Taipei, Taiwan</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item active">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/AllenCheng-e296e8d14bd0d80acf2fc23ec669ad1c4f21a66e51d69e5706eed4ad7c9b4b49.jpg" alt="Allencheng e296e8d14bd0d80acf2fc23ec669ad1c4f21a66e51d69e5706eed4ad7c9b4b49">
                </div>
                <div class="caption text-center">
                  <h3>Allen Cheng</h3>
                  <div class="position">Senior Web Developer</div>
                  <div class="company">mit.Jobs<span class="base">Taipei, Taiwan</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/GeorgiySvidritskiy-59423419a0be50c56872a05a0c38c9056f8dfcf7b0bc4a07aa641f33802092e3.jpg" alt="Georgiysvidritskiy 59423419a0be50c56872a05a0c38c9056f8dfcf7b0bc4a07aa641f33802092e3">
                </div>
                <div class="caption text-center">
                  <h3>Georgiy Svidritskiy</h3>
                  <div class="position">Product Manager</div>
                  <div class="company">TP-LINK<span class="base">ShenZhen, China</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/Kun-YuTsai-670b06365519b594d5a06869ae655eec938100d3bdf041760e4c73f79c42b5c6.jpg" alt="Kun yutsai 670b06365519b594d5a06869ae655eec938100d3bdf041760e4c73f79c42b5c6">
                </div>
                <div class="caption text-center">
                  <h3>Kun-Yu Tsai</h3>
                  <div class="position">Android / iOS Developer</div>
                  <div class="company">University College London<span class="base">London, UK</span></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="thumbnail">
                <div class="pic">
                  <img src="/assets/testimonial/SawaChao-e3d9175101790c2ea04b5dd92d1828a1bdab010e272c3d39052ea11502c350c8.jpg" alt="Sawachao e3d9175101790c2ea04b5dd92d1828a1bdab010e272c3d39052ea11502c350c8">
                </div>
                <div class="caption text-center">
                  <h3>Sawa Chao</h3>
                  <div class="position">Sales Regional Manager</div>
                  <div class="company">xpert data<span class="base">Oldenzaal, Netherlands</span></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>

<!--     <div class="text-center">
      <span class="fp-moreblock fp-product-moreblock intro-c">
        <a class="more" href="">See more :after "">""</a>
      </span>
    </div> -->

  </div>
</div>
