<h1>Welcome to the Jobs Board!</h1>

<br>

<%= link_to 'Sign Up As A Job Seeker', 'edit_user_registration', class: "btn btn-default" %>

<%= link_to 'Sign Up As An Employer', 'new_company_path', class: "btn btn-default" %>
