<p id="notice"><%= notice %></p>

<h1>@job.title</h1>
<p>@job.description</p>
<p>@job.requirement</p>
<p>@job.apply_instruction</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
