// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-profile {
  padding: 0 40px;

  .company-header {
    .company-image {
      margin-top: -50px;
      margin-left: 50px;
    }

    h2 {
      display: inline;
      margin: 0 40px;
    }
  }
}
