
.navbar {
  background: black;
  width: 100%;
  height: 80px;
  border-radius: 0 !important;

  /*.nav-holder {*/
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/

    .nav-title {
      color: #ffffff;
      font-size: 30px;
      padding: 15px;
      float: left;
      display: inline;
      text-decoration: none;
    }

    .nav-button {
      text-align: center;

      > ul {
        list-style: none;
        padding-top: 25px;
        display: inline-block;

        li {
          display: inline;
          padding: 6px;
          color: #ffffff;

          a {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  /*}*/
}

.job {
  margin: 0 auto;
  max-width: 1300px;

  .search-bar {
    width: 100%;
    margin: 20px 20px;
  }

  .panel-default {
    border-radius: 0 !important;

    .arrow-down {
      float: right;
      margin-top: -15px;
    }
  }

  tr {
    border: 1px solid #dddddd;
  }
}

/* general object */

.center {
  text-align: center;
}

.floatright {
  float: right;
}

.max-width {
  max-width: 400px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}
