
.navbar {
  background: black;
  width: 100%;
  height: 80px;
  border-radius: 0 !important;

  /*.nav-holder {*/
    /*max-width: 1000px;*/
    /*margin: 0 auto;*/

    .nav-title {
      color: white;
      font-size: 30px;
      padding: 15px;
      float: left;
      display: inline;
      text-decoration: none;
    }

    .nav-button {
      text-align: center;

      > ul {
        list-style: none;
        padding-top: 25px;
        display: inline-block;

        li {
          display: inline;
          padding: 6px;
          color: white;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  /*}*/
}

/* general object */

.center {
  text-align: center;
}

.floatright {
  float: right;
}

.max-width {
  max-width: 400px;
}
