<h2>Category</h2>

<div class="">
  <div>

    <%#= form_for admin_categories_path do |f| %>
      <%#= f.text_field :name, class: "form-control" %>
      <%#= f.submit :Create, class: "btn btn-success" %>
    <%# end %>

    <form data-remote="true">
      <input type="text" id="input">
      <input type="submit">
    </form>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>
        </tr>
      </thead>
      <tbody>
        <%# @categories.each do |category| %>
          <tr>
            <td><%#= category.name %></td>
            <td><%#= link_to 'Delete', 'categories/' + category.id.to_s, method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <%# end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('form').submit(function(){
    $.getJSON('https://www.moedict.tw/raw/' + $("#input").val(),function(data){
        for(var i = 0; i < data.heteronyms.length; i++){
          for(var j = 0; j < data.heteronyms[i].definitions.length; j++){
            $('<ul><li>' + data.heteronyms[i].definitions[j] + '</li></ul>').appendTo
          }
        }
    })
  })
</script>

<!-- var str = 'abc' + a + 'zzz';
<ul> n * <li></li> </ul>
str = '<ul>';
for(){
  str=str+'<li></li>'
}
str+='</ul>'
$(str)
$(str) -->




