<h2>Company</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tagline</th>
      <th>Phone</th>
      <th>Email</th>
      <th>About</th>
      <th>Story</th>
      <th>Welfare</th>
      <th>Demand</th>
      <th>Website</th>
      <th>ios</th>
      <th>Android</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Idea</th>
      <th>Jobs Count</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= javascript_include_tag '/assets/admin/company' %>
